@media screen and (width<768px) {
  .value1 {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media screen and (width<480px) {
  .value1 {
    grid-template-columns: repeat(1, 4fr);
  }
}

@media screen and (width<768px) {
  .column1 {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media screen and (width<480px) {
  .column1 {
    grid-template-columns: repeat(1, 4fr);
  }
}

@media screen and (width<768px) {
  .card3 {
    grid-template-columns: repeat(1, 4fr);
  }
}

@media screen and (width<768px) {
  #filter1 .teams1 {
    grid-template-columns: repeat(2, 1fr);
  }

  #filer2 .teams2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width<480px) {
  #filter1 .teams1 {
    grid-template-columns: repeat(1, 1fr);
  }

  #filter2 .teams2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
